html {
    font-family: system-ui, sans-serif;
    background-color: #F6F6F6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hepta Slab', serif;
}

.content h1 { 
    font-size: 2.2rem;
}

.content h1, h2, h3, h4, h5 {
    margin-top: 1.0em;
}

.content p, ul  {
    font-family: 'Work Sans', sans-serif;
}

.content a {
    color: rgb(97, 28, 28);
    text-decoration: underline;
}

.content ul {
    list-style-type: circle;
}

.content li > ul {
    list-style-type: square;
    margin-left: 3.0em;
}