---
import { SITE_TITLE_BASE } from "../site-config.js";
import "../styles/global.css";

export interface Props {
    subtitle: string;
}
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;600;800&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet"
    />
    
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE_BASE} · {Astro.props.subtitle}</title>
</head>
